<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915451905241-ujq5ng6ki4mbcgj3ssv84f64gii3indt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915451905241-ujq5ng6ki4mbcgj3ssv84f64gii3indt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>915451905241-bm4iespv811qjvlqb7qdib2fttrgtvet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDL7ypxWHlCGyBl8R-uyzPkoq90eAlteMY</string>
	<key>GCM_SENDER_ID</key>
	<string>915451905241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaramarket.vendor</string>
	<key>PROJECT_ID</key>
	<string>jaramarket-user</string>
	<key>STORAGE_BUCKET</key>
	<string>jaramarket-user.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915451905241:ios:9b575ca554fd98484beac8</string>
</dict>
</plist>